* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.addcpybtn {
  /* width: 160px; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 100%;
}

.surl {
  /* float: left; */
  /* position: relative;
  left: 30px;
  top: 12px; */
  /* width: 110px; */
  margin-left: 5px;
  overflow-x: scroll;
  height: 100%;
  /* margin-top: 15px; */
}
.formcon {
  height: 100%;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.clip {
  font-size: 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* top: 7px; */
  left: 0px;
  border-radius: 3px;
}

.copied-message {
  position: relative;
  font-size: 10px;

  left: 0px;
  font-weight: bold;
  border-radius: 3px;
}
.editbtn {
  background-color: rgb(3, 185, 188);
  margin-right: 8px;
  width: 50px;
}
.editbtn:hover {
  background-color: rgb(32, 224, 228);
}
.editbtn:active {
  background-color: rgb(1, 149, 151);
  border: 3px inset;
  color: rgb(165, 165, 165);
  width: 48px;
  margin-right: 10px;
  padding: 4px;
  font-size: 13px;
}
.deletebtn {
  background-color: rgb(213, 3, 3);
  width: 60px;
}
.deletebtn:hover {
  background-color: rgb(253, 16, 16);
}
.deletebtn:active {
  background-color: rgb(149, 1, 1);
  border: 3px inset;
  color: rgb(165, 165, 165);
  width: 58px;
  padding: 4px;
  font-size: 13px;
}
/* .btns {
  display: flex;
  flex-direction: row;
} */
.btnsss {
  background-color: aquamarine;
  margin: 5px;
  border: 1px solid;
  padding: 5px;
}

.btntd {
  display: flex;
  flex-direction: column;
}
.editdel {
  font-size: 14px;

  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  padding-top: 4px;
  color: azure;
  border: 3px outset;
  text-align: center;
  border-radius: 10px;
}
/* .tableRow {
  width: 100%;
} */
.clip:hover {
  background-color: rgb(168, 199, 199);
  color: black;
}
.clip:active {
  background-color: black;
  color: antiquewhite;
}
.msilalel {
  display: none;
}
.notHide {
  display: inline-block;
}
.hideinp {
  display: none;
}
.clipdiv {
  float: left;
  /* margin-bottom: 20px; */
}
/* .btnss {
  display: flex;
  height: 100%;
} */

@media (max-width: 700px) {
  /* .tableRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid;
  }
  tr {
    display: flex;

    flex: 1;
    flex-direction: column;
    width: 100%;

    margin: 30px;
  }
  .bbbbb {
    width: 100%;

    text-align: left;
  }
  td {
    border: 100px solid black;
    text-align: left;
    padding: 8px;
    width: 100%;
  }

  .addcpybtn {
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: center;
    color: azure;
    background-color: rgb(4, 4, 4);
  } */
  .surl {
    width: 110px;
    /* text-align: left; */
  }
  /* .msilalel {
    display: block;
    width: 100px;

    font-weight: bold;
  } */
  /* .formobs {
    display: flex;

    gap: 10px;
  }
  .formobs p {
    text-align: left;
  }
  .fone {
    background-color: #c7cfd1;
    color: black;
  }
  .sone {
    background-color: #5f7b82;
  } */
}

/* td {
  height: 100%;
 
  overflow: scroll; 
} */
/* tr {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
} */
