/* .file-u .fileli {
  width: 100%;
  overflow: scroll;

  padding-left: 40px;

  height: 40px;
  padding-top: 8px;

  border-bottom: 1px groove rgb(156, 151, 151);
} */

.file-u {
  width: 95%;
  margin-left: 20px;
  padding-left: 5px;
  overflow: hidden;
  margin-bottom: 10px;

  transition: max-height 0.5s ease;
}

.filePngs {
  width: 30px;
  height: 33px;
}
.someimportant {
  font-size: 13px;
}
.fli {
  height: auto;
  display: flex;
  justify-content: space-between;

  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(129, 129, 129);
  background-color: #d7edfd;
  margin: 20px 10px;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.fileshow {
  max-height: 250px;
}
.fileclose {
  max-height: 0px;
}
.fileno {
  width: 30px;
}
.ii {
  font-size: 11px;
  font-weight: 600;
}
.floatd {
  display: flex;
  float: inline-end;
}
.filedeletebtn {
  margin-right: 10px;
  border: 1px solid;
  padding: 3px 7px 4px 7px;
  border-radius: 14px;
  background-color: rgb(251, 5, 5);
  color: aliceblue;
  height: 34px;
}
.filedeletebtn:hover {
  border: 3px solid rgb(142, 229, 249);
  font-weight: bold;
}
.downloadcount {
  width: 20px;
}
.downloadcountspan {
  margin-top: 10px;
  text-align: center;
}
.fli .fileda {
  height: auto;
  display: flex;
  font-weight: 550;
}
.modalposition {
  position: absolute;
  top: 0px;
  right: 0px;
}
.nonda {
  display: flex;
}
.fileicon,
.fileno {
  padding-top: 8px;
}
.filedeletebtn {
  margin-top: 13px;
}
.tdotdesk {
  position: relative;
  top: 14px;
  left: 5px;
}
.towrapdown {
  display: flex;
  flex-direction: column;
  /* max-width: calc(100%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}
.ofilename {
  overflow-x: hidden;
  max-width: 600px;
  /* border: 1px solid; */
}
.deleteicon {
  width: 20px;
}
@media (max-width: 768px) {
  .floatd {
    display: none;
  }
  .fli {
    flex-direction: column;
  }
  .ofilename {
    width: 550px;
    overflow-x: hidden;
  }
}
@media (max-width: 700px) {
  .ofilename {
    width: 450px;
    overflow-x: hidden;
  }
}

@media (max-width: 650px) {
  .ofilename {
    width: 350px;
    overflow-x: hidden;
  }
}
@media (max-width: 600px) {
  .ofilename {
    width: 250px;
    overflow-x: hidden;
  }
}
@media (max-width: 550px) {
  .ofilename {
    width: 200px;
    overflow-x: hidden;
  }
}
/*@media (max-width: 500px) {
  .ofilename {
    width: 420px;
    overflow-x: hidden;
  }
}
@media (max-width: 450px) {
  .ofilename {
    width: 370px;
    overflow-x: hidden;
  }
}
@media (max-width: 400px) {
  .ofilename {
    width: 300px;
    overflow-x: hidden;
  }
} */
/* :-webkit-scrollbar {
  width: 100%; 
  height: 5px; 
} */
