* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.color {
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}
.progmer {
  width: 400px;
  height: 300px;
}
/* .home { */
/* height: 100vh; */
/* display: flex; */
/* flex-direction: column; */
/* background: transparent; */
/* overflow: hidden; */
/* } */
.mainHome {
  display: flex;
  flex-direction: column;

  /* height: 90%; */
}
.m-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: rgb(20, 8, 99);
}
.m-left-top {
  display: flex;
  margin-bottom: 50px;
}
.m-left-top-left1 {
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-left-top-right {
  width: 50%;
  top: 100px;
  text-align: left;
}
.topshift {
  top: 50px;
}
.animate-text {
  font-size: 30px;
  font-weight: 1000;
  margin: 20px;
  min-width: 250px;
}
.animate-text span {
  position: relative;
}
.animate-text span::before {
  content: 'Welcome to My Website';
  color: blue;
  animation: words 20s infinite;
}
.animate-text span::after {
  content: '';
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: white;
  border-left: 6px solid blue;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}
.footermain {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: rgb(47, 50, 50);
  color: white;
  /* border: 1px solid black; */
}
.footermaintop {
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
}
.footerul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  /* border: 1px solid black; */
}
.footerul li {
  display: inline-block;
  padding: 20px;
}
.copyright {
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  padding: 10px;
}
@keyframes cursor {
  to {
    border-left: 2px solid transparent;
  }
}
@keyframes words {
  0%,
  20% {
    content: 'Welcome to my website';
  }
  23%,
  40% {
    content: 'Join our network ';
  }
  41%,
  60% {
    content: 'Enjoy our features';
  }
  61%,
  80% {
    content: "Let's get start ...";
  }
  83%,
  100% {
    content: 'Feel free and happy';
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.homebtn {
  height: 50px;
  width: 200px;
  font-weight: bold;
  background-color: rgb(44, 2, 61);
  color: white;
  margin: 20px;
}
.m-right {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-conta {
  /* display: grid;
  width: auto;

  grid-template-columns: repeat(3, 1fr);
<<<<<<< HEAD
  gap: 50px;

  text-align: center; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
=======
  gap: 100px;
  /* border: 1px solid black; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  text-align: center;
>>>>>>> d2de50a569856011780c4aa08fb8574b45816ef1
}
.home-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
/* .letter {
  color: white;
  font-size: large;
  font-weight: 500;
} */
.m-right .flex-conta div {
  /* margin: 150px; */
  margin-bottom: 50px;

  display: flex;
  border: 1px solid black;
  flex-direction: column;
  background-color: rgb(50, 48, 48);
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  /* margin-bottom: 80px; */
  color: aliceblue;
}

.flex-conta div a {
  text-decoration: none;
  color: white;
}
.fig {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
}
/* .flex-conta > div {
  background-color: #f1f1f1; */
/* width: 200px; */
/* margin: 50px; */
/* text-align: center;
  line-height: 75px;
  font-size: 30px;
} */
@media (max-width: 768px) {
  /* .m-right .flex-container div {
    margin: 100px;
  } */
  .flex-conta {
    grid-template-columns: repeat(2, 1fr);
  }
  .m-left-top {
    display: flex;
    flex-direction: column;
  }
  .progmer {
    width: 400px;
  }
  .m-left-top-left1 {
    width: 100%;
    margin-bottom: 50px;
  }
  .m-left-top-right {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .flex-conta {
    grid-template-columns: repeat(1, 1fr);
  }
}
