/* NotFoundPage.css */

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found-heading {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #333; /* Adjust color as needed */
}

.not-found-message {
  font-size: 1.5rem;
  color: #666; /* Adjust color as needed */
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .not-found-heading {
    font-size: 2rem;
  }

  .not-found-message {
    font-size: 1rem;
  }
}
