*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.host-box{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.host{
   

    margin-top: 60px;
    /* display: flex;
    align-items: center; */
    /* width: 50%; */
    /* padding: 10px; */
    
}
.host ul{
    list-style-type: none;
}
.host ul li{
    margin: 30px 30px;
}
.Dhost-coloum{
    display: flex;
    width: 100%;
}
.Dhost-coloum-left{
    width: 50%;
}
.Dhost-coloum-right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.hostTable{
  
    width: 500px;
   
}
.hostTable td:first-child {
    width: 80%;
}

.hostTable td:nth-child(2) {
    width: 20%;
}
.hostTable tr{
    line-height: 50px;
}

.tableHost {
    overflow: scroll;
}
.dhostCustom{
    display: flex;
    flex-direction: column;
    width:  500px;
    margin-left: 50px;
    font-size: 1em;
    margin-top: 10px;
    
}
.CustomInput{
    width: 450px;
    border-radius:  5px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #dbd9d9;
    margin-top: 10px;

   
}
@media (max-width: 550px) {
    .host-box{
        display: flex;
        flex-direction: column;
        
    }
}